pre {
position: relative;
display: block;
background-image: linear-gradient(#f5fffa 50%,#edf5ed 50%);
background-size: 100% 3rem;
background-position: 0 1.5rem;
background-origin: content-box;
font-family: "Consolas","Courier New",Courier,Monospace;
font-size: 14px;
color: var(--post-text-color);
white-space: pre-wrap;
line-height: 1.7em;
padding: 28px 16px 16px;
border: 1px solid #333;
border-radius: 2px;
overflow: auto;
}
.darkMode pre {
background-image: linear-gradient(#191919 50%,#323232 50%);
background-size: 100% 3rem;
background-position: 0 1.5rem;
background-origin: content-box;
color: #eee;
}
.post pre:before {
content: 'COPYRIGHT @ HUNGQB.COM';
position: absolute;
right: 0;
top: 0;
color: #ff0;
font-size: 11px;
padding: 0 10px;
z-index: 2;
line-height: 35px;
}
.post pre:hover::before {
content: 'Nhấp đúp để sao chép | Double click to copy | </>';
position: absolute;
right: 0;
top: 0;
color: #ff0;
font-size: 11px;
padding: 0 10px;
z-index: 2;
line-height: 35px;
}
.darkMode .post pre:before {
color: #ccc;
}

.download,.download:hover{color:#fff!important}
.download{display:inline-block;position:relative;padding:13px 20px 13px 25px;background:#2187e7;font-family:times;text-decoration:none;font-size:16px;font-weight:600;text-align:center;text-indent:25px;border-radius:5px}
.download:hover{opacity:.9}
.download:before,.download:after{content:' ';display:block;position:absolute;left:15px;top:52%}
.download:before{width:10px;height:2px;border-style:solid;border-width:0 2px 2px}
.download:after{margin-left:1px;margin-top:-7px;border-style:solid;border-width:4px 4px 0;border-color:transparent;border-top-color:inherit;animation:downloadArrow .7s linear infinite;animation-play-state:paused}
.download:hover:before{border-color:#fff}
.download:hover:after{border-top-color:#fff;animation-play-state:running}
@keyframes downloadArrow{0%{margin-top:-7px;opacity:1}0.001%{margin-top:-15px;opacity:0}50%{opacity:1}100%{margin-top:0;opacity:0}}
@-webkit-keyframes pulse{
0%{
-webkit-transform:scale(1);
transform:scale(1)
}
50%{
-webkit-transform:scale(1.1);
transform:scale(1.1)
}
100%{
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes pulse{
0%{
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1)
}
50%{
-webkit-transform:scale(1.1);
-ms-transform:scale(1.1);
transform:scale(1.1)
}
100%{
-webkit-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1)
}
  
  /* load comment */
#comment-editor {
background: transparent url(https://cdn.jsdelivr.net/gh/libraryvisualbasic/image/loader.gif) no-repeat 50% 30%;
}
.button {
float: left;
list-style: none;
text-align: center;
width: auto;
margin: 10px;
padding: 2px;
font-size: 14px;
clear: both;
}
.button ul {
margin: 0;
padding: 0;
}
.button li {
display: inline;
margin: 5px;
padding: 0;
list-style: none;
}
.button li a.demo,.button li a.download {
position: relative;
padding: 9px 48px 9px 16px;
background: #f39c12;
color: #fff!important;
font-weight: 700;
font-size: 14px;
text-align: center;
text-transform: uppercase;
letter-spacing: .5px;
border-radius: 3px;
box-shadow: 0 1px rgba(0,0,0,0.1);
line-height: normal;
transition: all .3s;
}
.button li a.download {
background: #3498db;
}
.button li a.demo:hover,.button li a.download:hover {
background: #666;
}
.button li a.demo:active,.button li a.download:active {
cursor: pointer;
}
.button li a.demo:after,.button li a.download:after {
content: '\f135';
background: rgba(0,0,0,0.1);
position: absolute;
right: 0;
top: 0;
font-weight: 400;
display: inline-block;
margin: 0 0 0 10px;
color: #fff;
padding: 11px;
font-family: fontawesome;
}
.button li a.download:after {
content: '\f019';
}
.status-msg-wrap {
display: none;
}
.quickedit {
display: none;
}}
.button {
float: left;
list-style: none;
text-align: center;
width: auto;
margin: 5px 0;
padding: 0;
font-size: 14px;
clear: both;
}
.button ul {
margin: 0;
padding: 0;
}
.button li {
display: inline;
margin: 0;
padding: 0;
}
